{{#modal-dialog 
  targetAttachment="center"
  close=(action transitionToRoute "warehouse.admin.index") 
  translucentOverlay=true}}
  {{#modal-view as |yields|}}
    {{#yields.header}}
      <h6>Warehouse Account<small>{{portal-for name="header-subtext"}}</small></h6>
    {{/yields.header}}
    {{#yields.links}}
      <ul class="nav nav-tabs row">
        {{#nav-tab "warehouse.admin.account.index" model}}
          {{fa-icon "wrench" fixedWidth=true}} Account Properties
        {{/nav-tab}}
        {{#nav-tab "warehouse.admin.account.upgrade" model}}
          {{fa-icon "credit-card" fixedWidth=true}} Change Service Plan
        {{/nav-tab}}
        {{#nav-tab "warehouse.admin.account.danger" model}}
          {{fa-icon "warning" fixedWidth=true}} Danger Zone
        {{/nav-tab}}
      </ul>
    {{/yields.links}}

    {{outlet}}

    {{#yields.footer}}
      {{modal-footer adminMode=true}}
    {{/yields.footer}}
  {{/modal-view}}
{{/modal-dialog}}

