{{#modal-dialog 
  targetAttachment="center"
  close=(action transitionToRoute "warehouse.admin.index") 
  translucentOverlay=true}}
  {{#modal-view as |yields|}}
    {{#yields.header}}
      <h6>Warehouse Workers<small>{{portal-for name="header-subtext"}}</small></h6>
    {{/yields.header}}
    {{#yields.links}}
      <ul class="nav nav-tabs row">
        {{#nav-tab "warehouse.admin.employees.index"}}
          {{fa-icon "users" fixedWidth=true}} Employee Index
        {{/nav-tab}}
        {{#nav-tab "warehouse.admin.employees.new"}}
          {{fa-icon "plus" fixedWidth=true}} Add Employee
        {{/nav-tab}}
      </ul>
    {{/yields.links}}
    {{#if (gte model.meta.count activeServicePlan.employees)}}
      <div class="alert alert-warning">
        {{fa-icon "exclamation-circle"}} You have already reached the maximum number of employee accounts allowed in this service plan.
        {{#link-to "warehouse.admin.account.update" xession.model.account class="alert-link"}}
          Upgrade your service plan.
        {{/link-to}}
      </div>
    {{else}}
      <div class="alert alert-success">
        {{fa-icon "info-circle"}} Under your current service plan: 
        <strong>{{activeServicePlan.name}}</strong>, your warehouse can have a total of 
        <strong>{{activeServicePlan.employees}}</strong> employee accounts. Including your own, you currently have 
        <strong>{{model.meta.count}}</strong>.
      </div>
    {{/if}}
    {{outlet}}

    {{#yields.footer}}
      {{modal-footer adminMode=true}}
    {{/yields.footer}}
  {{/modal-view}}
{{/modal-dialog}}