<div id="application">
  {{top-nav toggle=(action (toggle "showMenu" this))}}

  <main id="main" class="container-fluid">
    <div id="special-row" class="row {{if showMenu "show-menu"}}">
      <div class="col-lg-10 col-md-8 col-sm-7 col-xs-6">
        <div id="game">
          {{outlet}}
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6">
        <div id="sidenav">
          {{outlet "sidenav"}}
        </div>
      </div>
    </div>
  </main>

  {{ember-notify messageStyle="bootstrap" closeAfter=10000}}
</div>
