{{#modal-dialog close='closeModal' translucentOverlay=true}}
  <div class="row">
    <div class="col-xs-12">
      <h3 class="modal-title">Register an Account</h3>
    </div>
    <div class="col-xs-12">
      <div class="btn-group btn-group-lg" role="group">
        {{#link-to "index" class="btn btn-default"}}
          Login
        {{/link-to}}
        {{#link-to "register" class="btn btn-default"}}
          Register
        {{/link-to}}
      </div>
    </div>
    <div class="col-xs-12">
      {{#em-form-for model action="register" as |f|}}
        {{em-email-field f label="Employee Email"}}
        {{em-password-field f label="Password"}}
        {{em-password-field f name="passwordConfirmation" label="Password Confirmation"}}
        <div class="actions">
          {{#if (eq model.password model.passwordConfirmation)}}
            <button type="submit" class="btn btn-lg btn-primary {{if model.isSaving "disabled"}}">
              {{#if model.isSaving}}
                {{fa-icon "spinner" spin=true fixedWidth=true}} Busy...
              {{else}}
                {{fa-icon "check" fixedWidth=true}} Submit
              {{/if}}
            </button>
          {{else}}
            <div class="alert alert-warning">
              {{fa-icon "warning" fixedWidth=true}} Password doesn't match confirmation!
            </div>
          {{/if}}
        </div>
      {{/em-form-for}}
    </div>
  </div>
{{/modal-dialog}}

