<div class="list-group-item">
  <div class="list-group">
    {{#link-to "warehouse.admin.build.cells.new" class="list-group-item"}}
      {{fa-icon "cubes" fixedWith=true}} Cell
    {{/link-to}}
    {{#link-to "warehouse.admin.build.desks.new" class="list-group-item"}}
      {{fa-icon "desktop" fixedWith=true}} Desk
    {{/link-to}}
    {{#link-to "warehouse.admin.build.docks.new" class="list-group-item"}}
      {{fa-icon "truck" fixedWith=true}} Dock
    {{/link-to}}
    {{#link-to "warehouse.admin.build.gates.new" class="list-group-item"}}
      {{fa-icon "flag" fixedWith=true}} Gate
    {{/link-to}}
    {{#link-to "warehouse.admin.build.roads.new" class="list-group-item"}}
      {{fa-icon "road" fixedWith=true}} Road
    {{/link-to}}
    {{#link-to "warehouse.admin.build.scales.new" class="list-group-item"}}
      {{fa-icon "balance-scale" fixedWith=true}} Scale
    {{/link-to}}
    {{#link-to "warehouse.admin.build.walls.new" class="list-group-item"}}
      {{fa-icon "industry" fixedWith=true}} Wall
    {{/link-to}}
  </div>
</div>